
<% if can? :view, :issue_customers  %>
<p id="notice"><%= notice %></p>

<h1><%= t('summary_issue_customer') %></h1>
<table>
	<thead>
		<tr>
			<th><%= t('issue_customer_area_distribution') %></th>
		</tr>
	</thead>
	<tr>
		<td><%= render "issue/customers/charts/summary/area_distribution" %></td>
	</tr>
</table>

<table>
	<thead>
		<tr>
			<th><%= t('issue_customer_province_distribution') %></th>
		</tr>
	</thead>
	<tr>
		<td><%= render "issue/customers/charts/summary/province_distribution" %></td>
	</tr>
</table>

<table>
	<thead>
		<tr>
			<th colspan="5"><%= t('issue_customer_summary_list') %></th>
		</tr>
		<tr>
			<th><%= t('index') %></th>
			<th><%= t('issue_customer_code') %></th>
			<th><%= t('issue_customer_name') %></th>
			<th colspan="2"><%= t('operation') %></th>
		</tr>
	</thead>
	<% @issue_customers.each_with_index do |c,i| %>
		<tr>
			<td><%= i+1 %></td>
			<td>
				<%= c.c_type rescue nil %>
				<%= c.area rescue nil %>
				<%= c.industry rescue nil %>
				<%= "%04d" % c.id %>
			</td>
			<td><%= c.c_name  rescue nil %></td>
			<td><%= button_to t('show'), c, method: :get %></td>
			<td><%= button_to t('print_labels'), controller: "issue/customers", action: "plabel", id: c.id, method: :post %></td>
		</tr>
	<% end %>
</table>

<table>
	<tr>
		<td>
			<%= button_to t('back'), issue_customers_path, method: :get %>
		</td>
	</tr>
</table>
<% end %>
