<%= form_for(@adv_advsize) do |f| %>
  <% if @adv_advsize.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adv_advsize.errors.count, "error") %> prohibited this adv_advsize from being saved:</h2>

      <ul>
      <% @adv_advsize.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :size %><br>
    <%= f.text_field :advsize %>
  </div>
  <div class="field">
    <%= f.label :remark %><br>
    <%= f.text_field :remark %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
