<h1>Listing issue_cpublishes</h1>

<table>
  <thead>
    <tr>
      <th>Issue publish</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @issue_cpublishes.each do |issue_cpublish| %>
      <tr>
        <td><%= issue_cpublish.issue_publish_id %></td>
        <td><%= link_to 'Show', issue_cpublish %></td>
        <td><%= link_to 'Edit', edit_issue_cpublish_path(issue_cpublish) %></td>
        <td><%= link_to 'Destroy', issue_cpublish, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cpublish', new_issue_cpublish_path %>
