<h1><%= t('show_general_notice') %></h1>

<p>
<strong><%= t('notice_date')%> : </strong>
  <%= @general_notice.date %>
</p>

<p>
<strong><%= t('notice_title')%> : </strong>
  <%= @general_notice.title %>
</p>
<p>
<strong><%= t('notice_content')%> : </strong>
<br> <%= @general_notice.notice %> </br>
</p>

<p>
<strong><%= t('notice_operator')%> : </strong>
  <%= @general_notice.operator %>
</p>

<p>
<strong><%= t('notice_e_date')%> : </strong>
  <%= @general_notice.e_date %>
</p>

<%= button_to t('edit'), edit_general_notice_path(@general_notice), method: :get %>
<%= button_to t('back'), general_notices_path, method: :get %>
