<%= form_for(@issue_type) do |f| %>
  <% if @issue_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue_type.errors.count, "error") %> prohibited this issue_type from being saved:</h2>

      <ul>
      <% @issue_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t('issue_customer_type_code') %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label t('issue_customer_type') %><br>
    <%= f.text_field :c_type %>
  </div>
  <div class="field">
    <%= f.label t('remark') %><br>
    <%= f.text_field :remark %>
  </div>
  <div class="actions">
    <%= f.submit t('submit') %>
  </div>
<% end %>
