<h1>Listing newspaper_layouts</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @newspaper_layouts.each do |newspaper_layout| %>
      <tr>
        <td><%= newspaper_layout.code %></td>
        <td><%= link_to 'Show', newspaper_layout %></td>
        <td><%= link_to 'Edit', edit_newspaper_layout_path(newspaper_layout) %></td>
        <td><%= link_to 'Destroy', newspaper_layout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Layout', new_newspaper_layout_path %>
