
<% if can? :view, :issue_publish  %>
	<h1><%= t('show_issue_customer_publish') %></h1>

	<table align="center">
		<tr>
			<td><input name="print" value="打 印 | Print" type="button" url="javascript:;" onClick="doPrint('1')"/></td>
			<td>Total Customer: <%= @issue_publish.count %> | Total Pages: <%= number_with_precision( @issue_publish.count.to_f/3, precision: 1 ) %></td>
			<td><%= button_to t('back'), issue_publishes_path, method: :get %></td>
		</tr>
	</table>
	<p></p>
	<!--sprint-1-->
	<% @issue_publish.each_slice(3) do |cpublishes|  %>
		<div style="page-break-after: always">
			<% cpublishes.each_with_index do |c,i|  %>
				<% @customer_id = c.c_code[-4,4].to_i %>
				<% @customer = Issue::Customer.where(id: @customer_id).first rescue nil %>

				<table border="1px" align="center" cellspacing="0" cellpadding="0" width="742mm">
					<tr align="center">
						<td align="center">
							<font size="6">
								<%= t('issue_label_title') %>
							</font>
						</td>
					</tr>

					<tr align="center">
						<td align="center">
							<%= t('issue_label_address') %>
							<br/>
							<%= t('issue_label_tel') %>
						</td>
					</tr>
				</table>

				<table border="1px" align="center" cellspacing="0" cellpadding="0" width="742mm">
					<tr align="center">
						<td>
							<%= t('issue_customer_code') %> : <%= c.c_code %>   |   
							<%= t('issue_customer_quantity')%> : <%= c.quantity %>   |   
							<%= t('issue_customer_free_copy')%> : <%= c.free_copy %>
						</td>
					</tr>
				</table>

				<table border="1px" align="center" cellspacing="0" cellpadding="0" width="742mm">
					<!--
					<tr align="center">
						<td align="center">
							<%#= t('issue_customer_name')%>
						</td>
						<td align="center">
							Total<%#= t('publish_total_quantity')%>
					</td>
				</tr>
				-->
				<tr align="center">
					<td align="center" width="85%" style="height:32mm">
						<font size="7">
							<%= @customer.c_name rescue nil %><br/>
							<%= @customer.c_name2 rescue nil %>
						</font>
					</td>
					<td align="center" width="15%" style="height:32mm">
						<font size="8">
							<%= (c.quantity + c.free_copy).to_s rescue nil %>
						</font>
					</td>
				</tr>
			</table>

			<table border="1px" align="center" cellspacing="0" cellpadding="0" width="742mm">
				<tr align="center">
					<td align="center"  style="height:10mm" >
						<%#= t('issue_customer_address')%> 
						<%= @customer.c_address rescue nil %>
					</td>
				</td>
			</tr>
		</table>

		<table align="center" width="742mm" >
			<tr align="center">
				<td align="center" style="height:10mm">
					. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
				</td>
			</tr>
		</table>

	<% end %>
</div>
<% end %>
<!--eprint-1-->

<table>
	<tr>
		<td><input name="print" value="打 印 | Print" type="button" url="javascript:;" onClick="doPrint('1')"/></td>
		<td><%= button_to t('back'), issue_publishes_path, method: :get %></td>

	</tr>
</table>
<% end %>
