<%= form_for(@issue_return) do |f| %>
  <% if @issue_return.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue_return.errors.count, "error") %> prohibited this issue_return from being saved:</h2>

      <ul>
      <% @issue_return.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :c_code %><br>
    <%= f.text_field :c_code %>
  </div>
  <div class="field">
    <%= f.label :qty %><br>
    <%= f.number_field :qty %>
  </div>
  <div class="field">
    <%= f.label :remark %><br>
    <%= f.text_field :remark %>
  </div>
  <div class="field">
    <%= f.label :operator %><br>
    <%= f.text_field :operator %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
