<h1>Listing issue_cities</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>City name</th>
      <th>Area</th>
      <th>Remark</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @issue_cities.each do |issue_city| %>
      <tr>
        <td><%= issue_city.code %></td>
        <td><%= issue_city.city_name %></td>
        <td><%= t(issue_city.area) %></td>
        <td><%= issue_city.remark %></td>
        <td><%= link_to 'Show', issue_city %></td>
        <td><%= link_to 'Edit', edit_issue_city_path(issue_city) %></td>
        <td><%= link_to 'Del', issue_city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New City', new_issue_city_path %>
