
<div class="fields">
	<table>
		<thead>
			<tr>
				<th colspan="3"><%= t('information_of_province') %></th>
			</tr>

			<tr>
				<th><%= t('province_code') %></th>
				<th><%= t('province_name') %></th>
				<th><%= t('operations') %></th>
			</tr>
		</thead>

		<tr>
			<td><%= f.text_field :code %></td>  
			<td><%= f.text_field :province %></td>
			<td><%= link_to_remove_fields t('del'), f %></td>
		</tr>

	</table>

</div>

<table>
	<tr>
		<th colspan="3">Listing Cities</th>
				<th colspan="3"><%= t('listing_cities') %></th>
	</tr>
	<%= f.fields_for :cities do |city| %>
		<%= render "city_fields", f: city %>
	<% end %>
</table>
<p><%= link_to_add_fields t('add_city'), f, :cities %></p>

